PORT=3000
ADMIN_EMAILS=rohitgupta6294@gmail.com,rahulgupta6294@gmail.com

FIREBASE_PROJECT_ID=sankalp-learning-5442f
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"sankalp-learning-5442f","..."}

RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx
