PORT=3000
ALLOWED_ORIGIN=https://sankalp-learning-5442f.web.app

FIREBASE_PROJECT_ID=sankalp-learning-5442f
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"sankalp-learning-5442f","..."}
